ejemplos-parte1/xml/actaResuelto2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="acta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="calificacion" type="tipoCalificacion"
					minOccurs="1" maxOccurs="unbounded" />
				<xs:element name="diligencia" type="tipoDiligencia"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="asignatura" type="xs:string"
				use="required" />
			<xs:attribute name="convocatoria" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="febrero" />
						<xs:enumeration value="junio" />
						<xs:enumeration value="julio" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="curso" type="xs:string"
				use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tipoCalificacion">
		<xs:sequence>
			<xs:element name="nif" type="xs:string" />
			<xs:element name="nombre" type="xs:string" minOccurs="0" />
			<xs:element name="nota" type="tipoNota" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="tipoNota">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="10" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="tipoDiligencia">
		<xs:complexContent>
			<xs:extension base="tipoCalificacion">
				<xs:attribute name="fecha" type="xs:date"
					use="required" />
				<xs:attribute name="extraordinaria" default="no">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="si" />
							<xs:enumeration value="no" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>



</xs:schema>